<!-- Banner Grid Start -->
<div class="banner-grid">
    <div class="banner-grid-row">
        <div class="banner-grid-column">
            <a href="" title="" class="banner-grid-big">
                <div class="banner-grid-text">
                    <h4 class="banner-grid-subject">Try it today</h4>
                    <h3 class="banner-grid-title">Double meat burger with fries</h3>
                </div>
                <img src="assets/img/banner/b1 (1).png" alt="" class="banner-grid-image" />
                <button class="clk">BUY</button>
            </a>
        </div>
        <div class="banner-grid-column">
            <a href="" title="" class="banner-grid-small">
                <div class="banner-grid-text">
                    <h4 class="banner-grid-subject">Try it today</h4>
                    <h3 class="banner-grid-title">Double meat burger with fries</h3>
                </div>
                <img src="assets/img/banner-grid/s1.png" alt="" class="banner-grid-image" />
                <button class="clk">BUY</button>
            </a>
            <a href="" title="" class="banner-grid-small">
                <div class="banner-grid-text">
                    <h4 class="banner-grid-subject">Try it today</h4>
                    <h3 class="banner-grid-title">burger and cocacola</h3>
                </div>
                <img src="assets/img/banner-grid/s2.png" alt="" class="banner-grid-image" />
                <button class="clk">BUY</button>
            </a>
        </div>
    </div>
</div>
<!-- Banner Grid End -->
